@import "./partial/reset";
@import "./partial/colors";
@import "./partial/sizing";
@import "./partial/buttons";
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $primary;

  div {
    img {
      height: 80px;
      margin-right: $big;
      margin-left: $big;
    }
    ul {
      display: flex;
      text-align: center;

      li {
        margin-right: 2rem;
        a {
          text-decoration: none;
          color: $white;
          font-size: $medium;
        }
      }
    }
  }
}
h1 {
  @include big-title();
}
